<div class="adduser-body">
    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit(addUserForm)">
      <mat-card>
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Name" />
            <mat-error *ngIf="addUserForm.get('name')!.invalid && (addUserForm.get('name')!.dirty || addUserForm.get('name')!.touched)">
              Please provide a name.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Email" />
            <mat-error *ngIf="addUserForm.get('email')!.invalid && (addUserForm.get('email')!.dirty || addUserForm.get('email')!.touched)">
              Please provide a valid email.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" placeholder="Address" />
            <mat-error *ngIf="addUserForm.get('address')!.invalid && (addUserForm.get('address')!.dirty || addUserForm.get('address')!.touched)">
              Please provide an address.
            </mat-error>
          </mat-form-field>
  
          <mat-radio-group formControlName="role" style="display: flex; gap: 30px;">
            <mat-radio-button value="student">Student</mat-radio-button>
            <mat-radio-button value="teacher">Teacher</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="addUserForm.get('role')!.invalid && (addUserForm.get('role')!.dirty || addUserForm.get('role')!.touched)">
            Please select a role.
          </mat-error>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!addUserForm.valid">Submit</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  